In [1]:
#Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
    1. Python
    2. R programming
    3. Julia
    4. Scala
    5. Java
    6. Javascript

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
    1. pandas
    2. numpy
    3. scikit learn
    4. tensorflow
    5. matplotlib
    6. pyTorch

In [ ]:
|Data Science Tools|
|:----------------:|
|Apache Spark      |
|BigML             |
|Python            |
|Matplotlib        |

In [3]:
###Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
##This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [ ]:
 ##This will convert 200 minutes to hours by diving by 60

In [7]:
minutes = 200 % 60
hours = 200 // 60
print(hours)

3

In [ ]:
**Objective:**

In [ ]:
- Python
- SQL
- Java
- Javascript
- Julia

In [9]:
##Author
Arthi Sri